<% provide(:title, "Guest Book") %>

<div class="container guest-book text-center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Guest Book</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @messages.each do |message| %>
        <div class="message">
          <p><%= message.message %></p>
          <p><%= message.name %></p>
          <p><%= message.created_at %></p>
          <p><%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= link_to "Send us a message", new_message_path %>
  </div>
</div>