<% provide(:title, "Guest Book") %>

<div class="container-fluid guest-book text-center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Guest Book</h1>
      <p>We would love it if you would take the time to jot down your thoughts and messages.</p>
      <p>-Love Ari and Fern</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to "Sign Our Guest Book", new_message_path %>
    </div>
  </div>

  <div class="row" id="messages-container">
    <% @messages.each do |message| %>
      <div class="col-xs-6 col-sm-3 message-box">
        <div class="message">
          <p class="message-text">"<%= message.message %>"</p>
          <p class="message-name">-<%= message.name %> (<%= message.created_at.strftime('%b %e, %l:%M %p') %>)</p>
          <% if admin_signed_in? %>
            <p><%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>