<div class="jumbotron home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 collage">
        <%= link_to image_tag('home/collage.png', :class=> "animated fadeInLeft img-responsive"), photos_path %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 story-link text-center animated zoomInRight">
        <%= link_to "Our Story", {anchor: "our-story"}%> <br> <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron story text-center">
  <div class="container-fluid story-overlay">
    <div class="row">
      <div class="col-xs-12" id="our-story">
        <h2>Our Story</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>Her Version</h3>
        <p>Once upon a time there lived a very clumsy princess named Ariana. Her equilibrium and spatial awareness were slightly skewed, and because of that she opted to steer clear of bats (and all sports for that matter). Upon being invited to join a softball team, the very clumsy princess said she wanted to avoid any injuries but would love to participate in some way, shape or form. The team members brainstormed and alas the team captain said, “I think you should be the team mom!”</p>
        <p>Visions of tiny juice bottles and brown paper bags filled with treats began to fill her mind. “Yes, I accept that challenge!” she declared. Her fellow princess, the lovely Emma, suggested she attend the games to check out “Big Fern”- a fellow she thought would be a good match for the single “team mom”. The thought of a potentially hot athlete with which she could hypothetically create athletically inclined children was so enticing. I digress… It was just a good idea. </p>
        <p>The big day of the game arrived, and the princess prepared twelve brown paper bags with oranges and mini apple juices. “This guy will think I am domesticated and creative,” she thought. She arrived at the Friday night game wearing short shorts and a big sweatshirt because it was cold, of course. She caught one glimpse of the prince, and thought he was what her mom would call “a hunk”. He, of course, did not look at her until the end of the game when it was time to disperse the snacks. Emma introduced them. The princess could not look at him in the eyes because she did not want to seem too interested, so she casually looked down at the ground while being introduced. She was sure that was what got him.</p>
        <p>The team went out for pizza and alcoholic beverages after the game, and the “team mom” and “Big Fern” were strategically placed next to each other. They exchanged one word or maybe four (“Pass me the plate”). “He is not interested, ” she thought. She vowed to continue to attend games, though, and fulfill her duties as “team mom”.  A few games came and went and she stopped wearing the short shorts. It slowly turned into tight jeans and sweatshirts.
        One day as she sat in the stands with her twelve paper bags and a stack of notecards for an upcoming test, she heard a voice and looked up. It was “Big Fern”. He was running late to the game, and he asked her why she did not want to play. She said she was clumsy and laughed nervously. He giggled too and quickly walked away to join the rest of the players.</p>
        <p>That night something magical happened. During the weekly excursion to the royal bar and pizza parlor, the once reserved and quiet “Big Fern” willingly elected to sit next to the princess; they laughed and talked all night long. No phone numbers were exchanged, but he requested her on her royal Facebook- a true sign of courtship. They exchanged very long messages for two weeks before he asked for her phone number. Then they talked every day, or maybe she talked and he listened quietly.  They soon became an item.</p>
        <p>After two years of dating, he popped the question. He arrived with a Christmas present on Christmas Eve. It was very nicely wrapped in a fairly large box. It had a nice card at the top. She opened the card and it said, “To the woman I love… I’m sorry I cannot give you what you deserve, but accept this unique gift instead”. She opened the big box and there was a picture frame. He asked her to set it aside. Then there was a smaller gift box underneath that box and she opened it. It contained a set of preassembled puzzle pieces, which he asked her to put into the frame. That process continued with a few more boxes. She continued to add the puzzle pieces and they started to spell something. When she finally added the last pieces, she was able to decode the message- “Yes, that’s what she said.” </p>
        <p>He then grabbed the last tiny box, opened it and got down on one knee. He said, “Ariana Martin, will you marry me?” He used her full name, which was quite impressive.</p>
        <p>Knowing that he would have to open her gift to him, she said, “Are you sure? I only bought you a sweater.” He said yes and so did she. They shared a warm embrace, and slowly but very steadily thereafter they undertook the task of planning their nuptials.</p>
        <p>I would like to think that this is my fairytale ☺ </p>
      </div>

      <div class="col-md-5">
        <h3>His Version</h3>
        <p>I got her…the end ;)</p>
        <%= image_tag('home/yes.png', :class=> "yes-img hidden-xs hidden-sm img-responsive") %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid registry">
  <div class="row text-center" id="registry">
    <div class="col-xs-12">
      <h1>Our Registries</h1>
    </div>

    <div class="col-xs-12 col-sm-3 col-centered">
      <%= link_to image_tag('home/honeyfund.png', class: 'img-responsive'), "http://www.honeyfund.com/wedding/ariandfern", target: "blank"  %> 
    </div>

    <div class="col-xs-12 col-sm-3 col-centered">
      <%= link_to image_tag('home/target.png', class: 'img-responsive'), "http://www.target.com/gift-registry/giftgiver?registryId=xKc0I-85eueoWl1v_8Xl4g&registryType=WEDDING", target: "blank"  %> 
    </div>

    <div class="col-xs-12 col-sm-3 col-centered">
      <%= link_to image_tag('home/bbb.png', class: 'img-responsive'), "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542022858", target: "blank" %> 
    </div>
  </div>
</div>

<div class="container">
  <div class="row hotel-info">
    <h2>Hotel Information</h2>
    
  </div>
</div>